<section id="banner" class="w-full min-h-[250px] h-full relative">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full h-[400px] object-cover object-[50%_25%]"
	/>
</section>

<section id="main-content" class="w-full">
	<section id="all-articles-section" class="flex-1 bg-white py-8">
		<article class="flex-1 md:max-w-7xl mx-auto flex flex-col px-4 xl:px-0">
			<div class="w-full flex flex-col gap-4 mt-8">
				{{#each categories}}
					{{#each sections}}
						<div class="w-full flex flex-col gap-2">
							<h4
								class="font-bold text-fc-dark text-lg"
							>{{name}}</h4>
							{{#each articles}}
								<a
									id="article-{{id}}"
									href="{{url}}"
									class="btn btn-outline border-2 border-fc-green hover:border-fc-green hover:bg-fc-green w-full flex font-bold text-[14px] text-fc-dark text-start rounded-md overflow-x-hidden leading-normal"
								>
									<span class="w-full line-clamp-1">
										{{title}}
									</span>
								</a>
							{{/each}}
						</div>
					{{/each}}
				{{/each}}
			</div>
		</article>
	</section>
</section>