<section id="banner" class="w-full min-h-[250px] h-full relative">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full h-[300px] object-cover"
	/>
</section>

<section id="main-content" class="w-full">
	<section id="all-articles-section" class="flex-1 bg-white py-8">
		<article class="flex-1 md:max-w-7xl mx-auto flex flex-col px-4 xl:px-0">
			<div class="w-full flex flex-col items-center gap-4 mt-8">
				{{! <h2 class="text-xl font-bold text-fc-dark">
					Need Help? Contact Our Support Team
				</h2>
				<a
					href="/hc/en-us/articles/10722952988559-Where-to-contact-Customer-Support"
					class="btn btn-outline border-2 border-fc-green hover:border-fc-green hover:bg-fc-green w-full flex font-bold text-[14px] text-fc-dark text-start rounded-md overflow-x-hidden leading-normal"
				>
					Support Options
				</a> }}
				{{#each categories}}
					{{#each sections}}
						<div class="w-full flex flex-col gap-2">
							{{#each articles}}
								{{!-- <a
									id="article-{{id}}"
									href="{{url}}"
									class="btn btn-outline border-2 border-fc-green hover:border-fc-green hover:bg-fc-green w-full flex font-bold text-[14px] text-fc-dark text-start rounded-md overflow-x-hidden leading-normal"
								>
									<span class="w-full line-clamp-1">
										{{title}}
									</span>
								</a> --}}
								<article
									id="content"
									class="flex-1 flex flex-col px-0 md:px-4 py-4 md:py-0 gap-4"
								>
									<h1 class="text-2xl font-bold text-fc-dark">
										{{title}}
									</h1>
									{{!-- <div class="w-full flex items-center mt-2">
										<div class="avatar">
											<div class="w-10 rounded-full">
												<img
													src="{{author.avatar_url}}"
												/>
											</div>
										</div>
										<div class="flex flex-col ms-4">
											<h5
												class="text-sm text-fc-dark font-semibold"
											>{{author.name}}</h5>
											<p
												id="article-created"
												class="text-xs text-fc-dark"
											>
												{{date
													created_at
													format="medium"
												}}
											</p>
										</div>
									</div> --}}
									<div
										id="article-content"
										class="article-content flex flex-col gap-2"
									>
										{{body}}
									</div>
								</article>
							{{/each}}
						</div>
					{{/each}}
				{{/each}}
			</div>
		</article>
	</section>
</section>