<section id="banner" class="w-full h-[400px]">
	<img
		src="{{settings.banner}}"
		alt="banner"
		class="w-full h-full object-cover object-[50%_25%]"
	/>
</section>

<section id="main-content" class="flex-1 h-full bg-white py-8">
	<div class="flex flex-col max-w-7xl mx-auto px-4 lg:px-0">
		<div class="w-full">
			<a
				href="{{page_path 'help_center'}}"
				class="flex items-center text-sm text-fc-dark gap-2"
			>
				<i class="ph ph-caret-left text-md mt-0.5"></i>
				{{dc "ea_fc_hc_back_to_homepage_text"}}
			</a>
		</div>

		<section class="flex-1 flex flex-col gap-4 mt-4">
			<h1 class="text-2xl text-fc-dark font-bold mt-8">
				{{t "submit_a_request"}}
			</h1>

			<div class="w-full lg:w-1/2 mt-4">
				{{request_form}}
			</div>

			<p id="ingame-warning" class="hidden text-fc-dark text-sm">
				{{dc "ea_fcm_hc_form_warning_text"}}
			</p>
		</section>
	</div>
</section>